/*.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}*/

.narrow-text {
  margin-left: 30%;
  margin-right: 30%;
}

html {
  height:100%;
}

body { 
  margin:0;
  /*background-color: #edeae6;
  color: #333;*/
  background-color: #1f184f;
}

p {
  text-align:left;
  font-family:arial;
  color: #D0E4E9;
}

h1 {
  text-align:center;
  font-family:arial;
  color: #D0E4E9;
}

h2 {
  text-align:center;
  font-family:arial;
  color: #D0E4E9;
}

h3{
  text-align:center;
  font-family:arial;
  color: #D0E4E9;
}

nav {
  width: 100%;
  box-sizing: border-box;
  background-color: #0e0f33;
  padding: 20px;
  /*border-bottom: 2px solid #333;*/
  display: flex;
  justify-content: center;
  gap: 50px;
  left: 0;
  right: 0;
}

nav a {
  font-family:arial;
  color: #D0E4E9;
  text-decoration: none;
}

/*nav a:hover {
  text-decoration-color: #fcff5c;
}*/

nav a.nav-home { color: #D0E4E9; }
nav a.nav-home:hover { color: #0074D9; }
nav a.nav-info { color: #D0E4E9; }
nav a.nav-info:hover { color: #2ECC40; }
nav a.nav-games { color: #D0E4E9; }
nav a.nav-games:hover { color: #FF4136; }
nav a.nav-bg { color: #D0E4E9; }
nav a.nav-bg:hover { color: #ab0bd4; }
nav a.nav-media { color: #D0E4E9; }
nav a.nav-media:hover { color: #ae00ff; }
nav, .content {
  position: relative;
  z-index: 1;
}
