.narrow-text {
  margin-left: 30%;
  margin-right: 30%;
}

html {
  height:100%;
}

body { 
  margin:0;
  background-color: white;
}

p {
  text-align:left;
  font-family:arial;
  color: #0e0f33;
}

h1 {
  text-align:center;
  font-family:arial;
  color: #0e0f33;
}

h2 {
  text-align:center;
  font-family:arial;
  color: #0e0f33;
}

h3{
  text-align:center;
  font-family:arial;
  color: #0e0f33;
}

nav {
  width: 100%;
  box-sizing: border-box;
  background-color: #f2f7d5;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
  left: 0;
  right: 0;
}

nav a {
  font-family:arial;
  color: #0e0f33;
  text-decoration: none;
}

nav a.nav-home { color: #D0E4E9; }
nav a.nav-home:hover { color: #0074D9; }
nav a.nav-info { color: #D0E4E9; }
nav a.nav-info:hover { color: #2ECC40; }
nav a.nav-games { color: #D0E4E9; }
nav a.nav-games:hover { color: #FF4136; }
nav a.nav-bg { color: #D0E4E9; }
nav a.nav-bg:hover { color: #ab0bd4; }
nav a.nav-media { color: #D0E4E9; }
nav a.nav-media:hover { color: #ae00ff; }
nav, .content {
  position: relative;
  z-index: 1;
}
